@charset "utf-8";
body{
    background-color: orange;
}
nav a:link, a:visited{
    background-color: #f44336;
    color: #fff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
nav a:hover,a:active{
    background-color: red;
}
#privacy{
    text-decoration: none;
}
.rules{
    padding: 30%;
    text-align: justify;
    font-size: 20px;
}