@charset "utf-8";
#randslike{
    height: 16%;
    width: 16%;
}

#randslike #s img{
    padding: 6px;
    width: 100%;
    height: auto;
}
.img__size{
    width: 80%;
    height: auto;
}

nav ul li.red{
    text-decoration: none;
    list-style-type: none;
    padding-left: 5%;
}