@charset "utf-8";
/* CSS Document */
body{background-color:orange;border: groove; border-radius: 30px;}
nav a:link,a:visited{
	border: 2px solid red;
    border-radius: 30px;
	margin-left:5%;
	margin-right:-5%;
	background-color:red;
	color:#FFF;
	padding:14px 25px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
}
nav ,a:hover,a:active{
	border: 2px solid red;
    border-radius: 30px;
	background-color:red;
	
}


.pravila {
	padding:30%;
	margin-bottom: 200%;
	text-align:justify;
	font-size:20px;
	position: relative;
}
nav{
	border: 2px solid red;
    border-radius: 30px;
	border-color:orange;
	
	
}

#privatnost{
	color: #2A0000;
	text-decoration: none;
	text-align: justify;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: orange;
	
}
section{
	background-image: url(../slike/6909249-black-hd-background.jpg);
	color:#FFFFFF;
	font:bold;
	padding-right: 5%;
	padding-bottom: 1%;
	padding-left: 2%;
}
section form input{
	border-radius: 7px;
}
textarea{
	border-radius: 7px;
}
footer{
	text-align: center;
}
#cal{
	width: 10%;
}